/* Heading styles */
.projects .content-container {
  max-width: 80%; /* Adjust the value as needed */
  margin: 0 auto; /* Center the container */
}

.projects h2 {
  font-size: 43px; /* Adjust the value as needed */
  font-weight: bold;
  margin-bottom: 40px;
}
  
  .projects h2 span {
    color: #1a73e8;
  }
  .projects .heading-image {
    width: 80%;
    max-width: 800px; 
    height: auto;
    display: block;
    margin: 20px auto;
  }
  
  .projects h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  .projects h4 {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
}

.projects h5 {
  margin-left: 20px;
  margin-top: 15px;
  font-size: 20px;
  margin-bottom: 15px;
  font-family: 'Oswald', sans-serif;
}
.projects h6 {
  margin-top: 15px;
  font-size: 20px;
  margin-bottom: 15px;
  font-family: 'Oswald', sans-serif;
}
  /* Text styles */
  .projects p {
    font-size: 18px;
    margin-bottom: 18px;
  }

  .projects li {
    font-size: 16px;
    margin-bottom: 8px;
    margin-left: 60px;
  }
  .projects h4:hover,.projects h5:hover, .projects h6:hover {
    text-decoration: underline; /* Adds underline */
    color: #3498db; /* Changes color, choose any color you like */
    cursor: pointer; /* Changes the cursor to indicate clickability */
}
.projects .plot-image {
  width: 50%;
  max-width: 60%; 
  height: auto;
  display: block;
  margin: 20px auto;
}





.sql-query {
  background-color: #232323;
  padding: 10px;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: white; /* SQL query text color */
  white-space: pre; /* Preserves spaces and line breaks */
  font-size: 1.4em; /* Larger font size for the SQL query */
}

.keyword {
color: rgb(127, 127, 227);
}

.string {
color: rgb(220, 38, 38);
}

.comment {
color: green;
}

table {
  border-collapse: collapse;
  width: auto; /* Width of the table based on content */
  table-layout: auto; /* Allows table to determine cell width based on content */
  font-size: 1.5em; /* Adjust size as needed for the table */
  margin-bottom: 15px;
}

th, td {
  padding: 8px;
  border: 1px solid #555; /* Cell border color */
  text-align: left;
}

th {
  background-color: #444; /* Header background color */
  color: #fff; /* Header text color */
  font-size: 1.1em; /* Slightly larger font size for headers */
}

tbody tr:nth-child(odd) {
  background-color: #3c3c3c; /* Odd row background color */
}

tbody tr:nth-child(even) {
  background-color: #303030; /* Even row background color */
}


