/* Heading styles */
.projects .content-container {
  max-width: 80%; /* Adjust the value as needed */
  margin: 0 auto; /* Center the container */
}

.projects h2 {
  font-size: 43px; /* Adjust the value as needed */
  font-weight: bold;
  margin-bottom: 40px;
}
  
  .projects h2 span {
    color: #1a73e8;
  }
  .projects .heading-image {
    width: 80%;
    max-width: 800px; 
    height: auto;
    display: block;
    margin: 20px auto;
  }
  
  .projects h3 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  .projects h4 {
    margin-top: 20px;
    font-size: 35px;
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
}

  /* Text styles */
  .projects p {
    font-size: 18px;
    margin-bottom: 18px;
  }

  .projects li {
    font-size: 16px;
    margin-bottom: 8px;
    margin-left: 60px;
  }
  
  /* Link styles */
  .projects a {
    color: #1a73e8;
    text-decoration: none;
  }
  
  .projects a:hover {
    text-decoration: underline;
  }
  .projects .plot-image {
    width: 70%;
    max-width: 80%; 
    height: auto;
    display: block;
    margin: 20px auto;
  }

  .projects .plot-score {
    width: 35%;
    max-width: 50%; 
    height: 15%;
    display: block;
    margin: 5px auto;
  }

.projects .plot-aus-image {
  width: 130%;
  max-width: 100%; 
  height: auto;
  display: block;
  margin: 20px auto;
}


.quote-container {
  font-family: 'Poppins', sans-serif;
  background-color: var(--second-bg-color);  /* Using the theme's secondary background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: 20px auto;
  text-align: center;
  color: var(--text-color);  /* Setting the text color to white */
}

.quote-text {
  font-size: 20px;
  color: var(--text-color);  /* Setting the text color to white */
  margin-bottom: 10px;
}

.quote-author {
  font-size: 16px;
  color: var(--text-color);  /* Setting the text color to white */
  font-style: italic;
}

pre {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  max-width: 100%;
  overflow: auto;
  display: block;
  padding: 1em;
  white-space: pre-wrap;
  word-wrap: break-word;
}
